/* Main css file */
/* Import files, variables, mixins */
.header {
  color: #000; }

.footer {
  color: #4183c4; }

/* Start styles */
.promo-block-content {
  color: #A1A1A1; }
  .promo-block-content a {
    color: red; }
